/* .pagination{
    background: rgb(208,208,250);
    background: linear-gradient(90deg, rgba(208,208,250,1) 0%, rgba(214,160,223,1) 35%, rgb(232, 238, 163) 97%, rgb(235, 235, 163) 100%);
}
#search-section{
    background: rgb(208,208,250);
     background: linear-gradient(90deg, rgba(208,208,250,1) 0%, rgba(214,160,223,1) 35%, rgb(232, 238, 163) 97%, rgb(235, 235, 163) 100%);
 } */

#main {
    width: 100%;
    padding-bottom: 3%;
    /* border: 1px solid red; */
    /* background: rgb(208, 208, 250); */
    /* background: linear-gradient(90deg, rgba(208, 208, 250, 1) 0%, rgba(214, 160, 223, 1) 35%, rgb(232, 238, 163) 97%, rgb(235, 235, 163) 100%); */
}

#main>h2 {
    color: rgb(13, 13, 51);
    /* margin-top: 3%; */
    padding-top: 2%;

}

#main>div {
    width: 90%;
    margin: auto;
    /* border: 1px solid rgb(0, 255, 55); */
    /* background-color: rgb(252, 246, 246); */
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main>div>div {
    text-align: left;
    padding: 1%;
    font-size: large;
    color: rgb(7, 7, 70);
    height: 350px;
    margin-top: 3%;
    width: 21%;
    background-color: white;
    border: 1px solid rgb(226, 225, 233);
    box-shadow: 5px 5px #dbdbe7
}

#img-div {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 90%;
    display: flex;
    margin: auto;
    height: 80%;
}

#img-div>img {
    width: 100%;
    height: 100%;
}

#search {
    /* display: flex; */
    /* margin-left: 80%; */
    /* background-color: white; */
    /* border: none; */
    padding: 0.5%;
}